.dark-theme {
    --clr-bcg: #282c35;
    --clr-font: #fff;
    --clr-primary: #d23669;
    --clr-paragraphs: #fff;
}
.light-theme {
    --clr-bcg: #fff;
    --clr-font: #282c35;
    --clr-primary: #141a46;
    --clr-paragraphs: #282c35;
}
body {
    transition: all 0.3s linear;
    line-height: 1.5;
    font-size: 0.875rem;
}

.App {
    text-align: center;
    background-color: var(--clr-bcg);
    color: var(--clr-primary);
    transition: all 0.3s linear;
}

p {
    color: var(--clr-paragraphs);
}
